
@{Layout = "~/Views/Shared/_NonAuth.cshtml";}
<div class="col-md-8 col-md-offset-2 shadow">
    <div class="site-lead">
        <p>&nbsp;&nbsp;這裡是某個碼農在閒暇之餘做出來的娛樂，裡有有點玩樂的性質，有點實驗的性質。將自已所學、想學實作出來的網站。</p>
        <p>&nbsp;&nbsp;到這裡為止，已經是第三個已經有一定經驗值所累下來的結果，在架構規劃也呈現比以前成熟。</p>
        <p>&nbsp;&nbsp;如果有機會，請體驗一下！</p>
        <p>&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;至於為什麼叫「機車物語」？</p>
        <p>&nbsp;&nbsp;平常使用機車代步，過程冗長，不由得會想東想西。想碼田的規劃、左前方騎士的作為、紅綠燈的發想…諸如此類，天馬行空的內心小劇場。</p>
    </div>
    <form id="frm">
        <input type="hidden" name="id_token" id="id_token" />
    </form>
    <form id="frmauth" name="frmauth" method="post"></form>
</div>
<div class="col-md-12">
    <p>
        <a class="scroll-down g-signin2" data-onsuccess="onSignIn" style="width:36px;"></a>
    </p>
</div>
<div id="toindex" class="col-md-12">
    <p style="display:none;">
        <a class="scroll-down"><i class="fa fa-google-plus"></i></a>
    </p>
</div>
@section scripts {
    <script>
        $(window).on("load", function () {
            $("#toindex p").fadeOut();
            /*登入*/
            $("#toindex").click(function () {
                $.post("https://www.googleapis.com/oauth2/v3/tokeninfo", $("#frm").serializeobject())
                    .done(function (q) {
                        if ($.isEmptyObject(q)) { return; }
                        var frmauth = $("#frmauth");
                        for (var i in q) { frmauth.append($("<input/>", { "type": "hidden", "name": i, "value": q[i] })); }
                        frmauth.submit();
                    });
            });
        });

        function onSignIn(googleUser) {
            $("#id_token").val("");
            $("#id_token").val(googleUser.getAuthResponse().id_token);
            if ($("#id_token").val() != "") { $('#toindex p').fadeIn(); }
        }
    </script>
}                