@{Layout = "~/Views/Shared/_NonAuth.cshtml";}
<p class="shadow">沒有不歡迎，只是沒有權限。</p>
<p class="shadow">為了看起來不太單薄，得多打幾個字。</p>
<p class="shadow">話是如此，</p>
<p class="shadow">但別以為會有密秘入口哦…</p>
<div class="col-md-12">
    <p>
        <a class="scroll-down"><i class="fa fa-rocket"></i></a>
    </p>
</div>