@{Layout = "~/Views/Shared/_NonAuth.cshtml";}
<div class="col-md-8 col-md-offset-2 shadow">
    <div class="col-md-8 col-md-offset-2 shadow">
        <div class="site-lead" style="text-align:center;">
            <p>沒有不歡迎，只是沒有權限。</p>
            <p>為了看起來不太單薄，得多打幾個字。</p>
            <p>話是如此，</p>
            <p>但別以為會有密秘入口哦…</p>
        </div>
    </div>
</div>
<div class="col-md-12">
    <p>
        <a class="scroll-down"><i class="fa fa-rocket"></i></a>
    </p>
</div>