
@{Layout = null;}
@using MaxiBootstrap.Models;
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache">
    <link href="/Content/images/icon.ico" rel="shortcut icon" />
    <title>機車物語</title>
    <meta name="description" content="Maxi Bootstrap" />
    @Styles.Render("~/Content/logincss")
    <link href="~/Content/way.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="coming-soon">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 shadow">
                        <div class="site-title">
                            <h1>機車物語</h1>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 shadow">
                        <div class="site-lead" style="text-align:center;">
                            <p>沒有不歡迎，只是沒有權限。</p>
                            <p>為了看起來不太單薄，得多打幾個字。</p>
                            <p>話是如此，</p>
                            <p>但別以為會有密秘入口哦…</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <a class="scroll-down"><i class="fa fa-angle-double-down"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mastfoot text-center">
            @{Html.RenderPartial("~/Views/PARTVIEW/_CopyRight.cshtml"); }
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
</body>
</html>
