@using MaxiBootstrap.Models;
@model IEnumerable<Future_S>
@foreach (var i in Model)
{
    <div class="grid-item col-md-6">
        <div class="item-content clearfix">
            <span class="icon">@(i.cno)</span>
            <div class="text-content">
                <h5>@(i.cname)</h5>
                <p>
                    庫存(股)：@(i.cqty)
                    <br />
                    <span style="color:@(i.cincom.Contains("-") ? "green" : "red");">損益：@(i.cincom)</span>
                    <br />
                    成本：@(i.ccost)
                    <br />
                    累計息：@(i.cins)
                    <br />
                    均價：@(i.cavg)
                    <br />
                    收價：@(i.camount)
                    <br />
                    計息日：@(i.cinsdt)
                    <br />
                    現值：@(i.cvalue)
                    <br />
                    收價日：@(i.cpricedt)
                </p>
            </div>
        </div>
    </div>
}