@*統計*@
<article id="grid" class="section-wrapper clearfix" data-custom-background-img="/Content/twilli/bg2.jpg">
    <div class="content-wrapper clearfix">
        <div class="col-sm-11 col-md-10 pull-right">
            <h1 class="section-title">@{Html.RenderPartial("~/Views/PARTVIEW/_Title.cshtml"); }</h1>
            <section id="dvtable" class="grid row clearfix clearfix-for-2cols">
            </section>
            ◆ 成本包含累計息。
        </div>
    </div>
</article>
@section scripts {
    <script>
        $(window).on("load", function () {
            @*$.post("@Url.Content("~/Stock/_Future_S")").done(function (d) {
                $("#dvbug").text(JSON.stringify(d));
            });*@
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Stock/_Future_S")",
                success: function (d) { $("#dvtable").html(d); }
            });
        });
    </script>
}


