@*統計*@
@using MaxiBootstrap.Models;
@model IEnumerable<Future_S>
<article id="grid" class="section-wrapper clearfix" data-custom-background-img="/Content/twilli/bg2.jpg">
    <div class="content-wrapper clearfix">
        <div class="col-sm-11 col-md-10 pull-right">
            <h1 class="section-title">@{Html.RenderPartial("~/Views/PARTVIEW/_Title.cshtml"); }</h1>
            <section class="grid row clearfix clearfix-for-2cols">
                @foreach (var i in Model)
                {
                    <div class="grid-item col-md-6 wow flip" data-wow-delay="0.2s">
                        <div class="item-content clearfix">
                            <span class="icon">@(i.cno)</span>
                            <div class="text-content">
                                <h2>@(i.cname)</h2>
                                <p>
                                    庫存(股)：@(i.cqty)
                                    <br />
                                    <span style="color:@(i.cincom.Contains("-") ? "green" : "red");">損益：@(i.cincom)</span>
                                    <br />
                                    成本：@(i.ccost)
                                    <br />
                                    累計息：@(i.cins)
                                    <br />
                                    均價：@(i.cavg)
                                    <br />
                                    收價：@(i.camount)
                                    <br />
                                    計息日：@(i.cinsdt)
                                    <br />
                                    現值：@(i.cvalue)
                                    <br />
                                    收價日：@(i.cpricedt)
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </section>
            ◆ 成本包含累計息。
        </div>
    </div>
</article>