@*維護*@
<article class="section-wrapper clearfix" data-custom-background-img="/Content/twilli/bg4.jpg">
    <div class="content-wrapper clearfix">
        <h1 class="section-title">@{Html.RenderPartial("~/Views/PARTVIEW/_Title.cshtml"); }</h1>
        <div class="contact-details col-sm-7 col-md-8">
            <form class="form-style validate-form clearfix">
                <div class="form-group" id="dvsel">
                    <input type="text" class="text-field form-control" maxlength="100" id="frms_cname" name="frms_cname" placeholder="股票名稱、股票代號" />
                </div>
                <div class="form-group">
                    <button type="button" id="btnselect" class="btn btn-sm btn-outline-inverse">查詢</button>
                </div>
            </form>
            <div class="div-data" id="dvdata">
            </div>
        </div>
        <div class="col-sm-5 col-md-4">
            <form id="frmupdate" class="form-style validate-form clearfix wow zoomInDown" data-wow-delay="0.2s">
                <div class="form-group">
                    股票名稱
                    <input type="text" required class="text-field form-control" maxlength="100" id="frm_cname" placeholder="股票名稱" name="cname" />
                </div>
                <div class="form-group">
                    股票代號
                    <input type="text" required class="text-field form-control " maxlength="50" id="frm_cno" placeholder="股票代號" name="cno" />
                </div>
                <div class="form-group">
                    目標(張)
                    <input type="text" required class="text-field form-control " maxlength="18" id="frm_ctargetqty" placeholder="目標(張)" name="ctargetqty" />
                </div>
                <div class="form-group checkbox-field">
                    <input type="checkbox" id="frm-cisonline" name="cisonline" />
                    <label for="frm-cisonline">上市中</label>
                </div>
                <div class="form-group">
                    <button type="button" id="btnupdate" class="btn btn-sm btn-outline-inverse">確認</button>
                    <button type="reset" class="btn btn-sm btn-outline-inverse">重置</button>
                </div>
            </form>
        </div>
    </div>
</article>
@section scripts {
    <script>
        $(window).on("load", function () {
            $("#frmupdate").va();
            /*新增確認*/
            $("#btnupdate").click(function () {
                $("#frmupdate").valid();
            });
            /*查詢*/
            $("#btnselect").click(function () {
                $.post('@Url.Content("~/Stock/Item_S")', $("#dvsel").serializeobject())
                    .done(function (q) {
                        if (!q.length) { return; }
                        var dv = $("#dvdata");
                        dv.empty();
                        for (var i in q) {
                            var h4 = $("<h4/>"), p1 = $("<p/>"), lab = $("<label/>");
                            h4.text(q[i].cno + "-" + q[i].cname);
                            p1.text("目標(張)：" + q[i].ctargetqty);
                            lab.text("上市中");
                            dv.append($("<div/>")
                                .append(h4)
                                .append(p1)
                                .append($("<input/>", { "type": "checkbox" }).attr({ "checked": q[i].cisonline, "disabled": "disabled" }))
                                .append(lab)
                            );
                        }
                    });
            }).click();
        });
    </script>
}